.container {
  min-height: 80vh;
  height: 100%;
  margin-top: 100px;
  width: 100%;
  h3 {
    color: white;
    text-align: center;
    font-size: 80px;
    margin-bottom: 50px;
  }
  .navLi {
    color: white;
    font-weight: 900;
    &:hover {
      color: white;
    }
  }
  section {
    width: 60%;
    margin: 0 auto;
  }
  .contentContainer {
    width: 100%;
    height: 100%;
    padding: 50px;
    border-radius: 0 0 25px 25px;
    h2 {
      color: white;
      text-align: center;
      font-size: 40px;
      font-weight: bold;
      margin-bottom: 50px;
    }
    .form {
      width: 100%;
      margin: 0 auto;
      color: white;
      div {
        label {
          font-size: 30px;
        }
        input {
          height: 50px;
        }
      }
      button {
        width: 30%;
        height: 50px;
        background-color: #939f5c !important;
        border: none;
        font-weight: 700;
        &:hover {
          background-color: #bbce8a !important;
        }
      }
    }
  }
}
