.container {
  margin-top: 100px;
  height: 100%;
  margin-bottom: 100px;
  color: white;
  h3 {
    color: white;
    text-align: center;
    font-size: 80px;
  }
  .backHome {
    text-align: center !important;
    width: 100%;
    margin-bottom: 50px;
    color: white;
    &:hover {
      color: gray;
    }
  }
  .imageSelector {
    width: 30vw;
    justify-content: center;
    gap: 0.5vw;
    overflow-x: scroll;
    display: flex;
    img {
      cursor: pointer;
      filter: brightness(75%);
      border-radius: 5px;
      &:hover {
        filter: brightness(100%);
      }
    }
  }
  .imageMain {
    width: 30vw;
    height: 30vw;
    margin-top: 0.5vw;
    background-color: white;
    border-radius: 10px;
    img {
      width: 100%;
      border-radius: 5px;
    }
  }
  .productDesc {
    h5 {
      font-size: 50px;
    }
    .categoryContainer {
      display: flex;
      justify-content: flex-start;
      gap: 0.5vw;
      .categoryBadge {
        user-select: none;
        padding: 10px 30px;
        font-size: 18px;
      }
    }
    .description {
      margin: 15px 0;
      font-size: 20px;
      font-family: Montserrat;
    }
    .price {
      font-size: 50px;
      font-weight: bold;
    }
    .stock {
    }
    .buyBtn {
      padding: 0 5px;
      button {
        width: 100%;
        background-color: #5e6749;
        border-color: #5e6749;
      }
      &:first-child {
        button {
          background-color: #939f5c;
          border-color: #939f5c;
        }
      }
    }
    .quantInput {
      input {
        height: 100%;
        border-radius: 5px;
      }
    }
  }
}
